Package: com.iOSHacker.Crayon
Name: Crayon
Version: 1.0
Architecture: iphoneos-arm
Description: Crayon is really good.
Depiction: http://ioshacker.github.io/Depic/com.iOSHacker.Crayon/index.html
Homepage: http://www.ioshacker.com
Maintainer: iOSHacker <Logan@iOSHacker.com>
Author: Bluntpox <Bluntbox@Gmail.com>
Section: Themes
